<mat-nav-list>
    <div class="profile-card">
      <button class="start-button" *ngIf="!showTimer" mat-raised-button mat-button (click)="startQuiz()">
        <mat-icon>play_arrow</mat-icon>
        START
      </button>
      <div class="header time-box" *ngIf="cas > 0 && showTimer" >
          Time left:
          <h2>{{ cas * 1000 | date:'mm:ss' }}</h2>
      </div>
    </div>

    <mat-divider></mat-divider>

    <h2 *ngIf="showTimer" matSubheader>Menu</h2>

    <a *ngIf="showTimer" mat-list-item (click)="resetQuiz()">
        <mat-icon>360</mat-icon>
        Reset Quiz
    </a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Time period</h2>

    <a mat-list-item (click)="setCategory(1)">
        Prazgodovina
    </a>
    <a mat-list-item (click)="setCategory(2)">
        Stari vek
    </a>
    <a mat-list-item (click)="setCategory(3)">
        Srednji vek
    </a>
    <a mat-list-item (click)="setCategory(4)">
        Novi vek
    </a>
    <a mat-list-item (click)="setCategory(5)">
        Novejsa zgodovina
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>history_edu</mat-icon>
        Import Exam file
    </a>

</mat-nav-list>
